# PyInstaller
*.manifest
*.spec

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# PyCharm autocomplete
*.iml

# VS Code
.vscode/

# Temporary files
*.tmp
*.temp
*.swp
*.swo